<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Wordle</title>
</head>

<body>
    <h1 class="title">Wordle</h1>

    <div class="buttons">
        <button class="play_button"><a href="solo">Solo</a></button>
        <button class="play_button"><a href="robot">Contre un robot</a></button>
    </div>

</body>

</html>