<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Wordle</title>
</head>

<body>
    <h1 class="title">Wordle</h1>

    <div class="buttons">
        <button class="play-button"><a href="solo">Solo</a></button>
        <button class="play-button"><a href="robot">Contre un robot</a></button>
    </div>

    <div class="footer">
        <h2>Made by Maxime Labbe</h2>
        <a href="https://github.com/Maxime-Labbe" target="_blank"><img src="{% static 'app/images/github.svg' %}"></a>
        <a href="https://www.linkedin.com/in/maxime-labbe-626012293/" target="_blank"><img
                src="{% static 'app/images/linkedin.svg' %}"></a>
    </div>

</body>

</html>