<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style/solo.css' %}">
    <link rel="stylesheet" href="{% static 'app/style/style.css' %}">
    <title>Wordle</title>
</head>

<body>
    <h1 class="game-title">Wordle</h1>

    <div class="one-game">
        {% widthratio 98 len_word_to_guess 1 as percentage %}
        {% with ''|center:len_word_to_guess as range %}
        <div class="game-container container-solo">
            <h3 class="player">Vous</h3>
            <div class="game">
                {% for j in '012345'|make_list %}
                <div class="word" data-word="">
                    {% for k in range %}
                    <div class="letter">
                        <p></p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>

    <div class="wrong-word">
        <h3>Ce mot n'existe pas !</h3>
    </div>

    <div class="keyboard solo-keyboard">
        <div class="first-line-keys">
            <button class="key" id="a">A</button>
            <button class="key" id="z">Z</button>
            <button class="key" id="e">E</button>
            <button class="key" id="r">R</button>
            <button class="key" id="t">T</button>
            <button class="key" id="y">Y</button>
            <button class="key" id="u">U</button>
            <button class="key" id="i">I</button>
            <button class="key" id="o">O</button>
            <button class="key" id="p">P</button>
        </div>
        <div class="second-line-keys">
            <button class="key" id="q">Q</button>
            <button class="key" id="s">S</button>
            <button class="key" id="d">D</button>
            <button class="key" id="f">F</button>
            <button class="key" id="g">G</button>
            <button class="key" id="h">H</button>
            <button class="key" id="j">J</button>
            <button class="key" id="k">K</button>
            <button class="key" id="l">L</button>
            <button class="key" id="m">M</button>
        </div>
        <div class="third-line-keys">
            <button class="key" id="Backspace">
                <img src="{% static 'app/images/left-arrow.svg' %}" alt="Backspace" id="Backspace" width="35"
                    height="23">
            </button>
            <button class="key" id="w">W</button>
            <button class="key" id="x">X</button>
            <button class="key" id="c">C</button>
            <button class="key" id="v">V</button>
            <button class="key" id="b">B</button>
            <button class="key" id="n">N</button>
            <button class="key" id="Enter">
                <img src="{% static 'app/images/right-arrow.svg' %}" alt="Enter" id="Enter" width="35" height="23">
            </button>
        </div>
    </div>
    <div class="pop-up-container">
        <div class="pop-up">
            <h2>Bravo !</h2>
            <p>Vous avez gagné !</p>
            <div class="pop-up-buttons">
                <a href=""><button class="play-again-button">Rejouer</button></a>
                <a href="/"><button class="return-button">Menu principal</button></a>
            </div>
        </div>
    </div>

    <script src="{% static 'app/script.js' %}"></script>

</body>

</html>