<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Wordle</title>
</head>

<body>

    <h1 class="game-title">Wordle</h1>

    <div class="one-game">
        {% widthratio 98 len_word_to_guess 1 as percentage %}
        {% with ''|center:len_word_to_guess as range %}
        <div class="game-container">
            <h3 class="player">Vous</h3>
            <div class="game">
                {% for j in '012345'|make_list %}
                <div class="word" data-word="">
                    {% for k in range %}
                    <div class="letter" data-width="{{percentage}}%">
                        <p></p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>

    <div class="pop-up-container">
        <div class="pop-up">
            <h2>Bravo !</h2>
            <p>Vous avez gagné !</p>
            <div class="pop-up-buttons">
                <a href=""><button class="play-again-button">Rejouer</button></a>
                <a href="/"><button class="return-button">Menu principal</button></a>
            </div>
        </div>
    </div>

    <script src="{% static 'app/script/solo.js' %}"></script>

</body>

</html>